DATABASE_URL="postgresql://shop:shop123@localhost:5432/debug_shop?schema=public"
JWT_SECRET="men-juda-maxfiy-kalitman"
JWT_EXPIRES_IN="1d"
PORT=3000
SUPERADMIN_EMAIL="admin@shop.uz"
SUPERADMIN_PASSWORD="admin123"
